  .body {
    object-fit: contain;
    width: 130vh;
    height: 86.9vh;
    text-align: center;
    color: white;
    word-wrap: break-word;
    background-color: #c9c9c9;
    border-radius: 20px;
    margin-left: 270px;
    padding: 8px 0;
    margin-top: 20px;
  }